/* Error: Undefined mixin.
 *     ,
 * 163 | /     @include nine_92_min {
 * 164 | |         padding: 35px 0;
 * 165 | |         justify-content: center;
 * 166 | \     }
 *     '
 *   scss/_slider_5.scss 163:5  @import
 *   scss/app.scss 10:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 163 \2502  \250c      @include nine_92_min {\a 164 \2502  \2502          padding: 35px 0;\a 165 \2502  \2502          justify-content: center;\a 166 \2502  \2514      }\a     \2575 \a   scss/_slider_5.scss 163:5  @import\a   scss/app.scss 10:9         root stylesheet";
}
