body {
    font-family: $font;
}

.c-custom-1 {
    margin: 0;
    width: 52px;
    height: 52px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    outline: none;
    border: none;
    background-color: transparent;
    svg {
        position: relative;
        z-index: 1;
        color: $white;
        transition:
            transform 0.4s ease-in-out,
            opacity 0.4s ease-in-out;
        will-change: transform, opacity;
        opacity: 1;
        transform: scale(1);
    }
    &::after {
        content: " ";
        display: flex;
        width: 100%;
        height: 100%;
        background-color: $color_7;
        border-radius: 50%;
        transition: transform 0.4s ease-in-out;
        will-change: transform;
        transform: scale(1);
        position: absolute;
        justify-content: center;
        color: $white;
        font-size: xx-large;
    }
    &:hover {
        &::after {
            transform: scale(0.95);
        }
        svg {
            transform: scale(0.95);
            opacity: 0.75;
        }
    }
}
