.slider_3-border-img {
  background-color: $color_7;
  background-blend-mode: darken;
  padding: 5px 0 5px 0;
  border-radius: 0;
  width: 100%;
  margin: auto;
  @include min-xl {
    width: 57.5%;
    padding: 10px;
    border-top-right-radius: 25px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
}

.slider_3-background {
  background: radial-gradient($color_6, $color_7, $color_5);
  background-blend-mode: luminosity;
  position: relative;
  box-sizing: border-box;
  border-radius: 0;
  padding: 30%;
  @include min-xl {
    border-top-right-radius: 17px;
    border-top-left-radius: 2.5px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
  }
}

.slider_3-shrink-container {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: flex-end;
  color: $white;
  position: absolute;
  top: 2%;
  right: 1%;
  bottom: 2%;
  left: 1%;
  z-index: 0;
  transition:
    background-color 0.5s linear,
    top 0.5s linear,
    right 0.5s linear,
    bottom 0.5s linear,
    left 0.5s linear;
  will-change: background-color, top, right, bottom, left;
  &.has-shrink {
    background-color: $color_2;
    top: 8%;
    right: 5%;
    bottom: 8%;
    left: 5%;
    .slider-container,
    .percentage {
      opacity: 1;
    }
  }
}

.slider_3-a {
  border-radius: 100%;
  padding: 75px 75px;
  background-size: cover;
}

.slider_3-container {
  height: 100%;
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  z-index: -1;
  align-items: center;
  transition: opacity 0.5s linear;
  will-change: opacity;
  opacity: 0;
}

.image-fill-right {
  display: none;
  @include min-md {
    display: block;
    left: 0;
    position: absolute;
    &.has-right {
      transition: 0.75s left cubic-bezier(0.215, 0.61, 0.355, 1);
      will-change: left;
      left: calc(100% - 150px);
      z-index: 1;
    }
  }
}

.image-fill-left {
  display: none;
  @include min-md {
    display: block;
    right: 0;
    position: absolute;
    &.has-left {
      transition: 0.75s right cubic-bezier(0.215, 0.61, 0.355, 1);
      will-change: right;
      right: calc(100% - 150px);
      z-index: 1;
    }
  }
}

.image-1 {
  position: relative;
  margin: auto 12.5% auto 12.5%;
  padding: 14%;
  height: initial;
  @include min-md {
    margin: initial;
    padding: 75px 75px;
    transition: opacity 0.375s ease-in;
    will-change: opacity;
    opacity: 1;
  }
  &.has-opacity-image {
    opacity: 1;
    @include min-md {
      opacity: 0;
    }
  }
}

.image-2 {
  display: none;
  @include min-md {
    display: block;
    right: 0;
    position: absolute;
    transition: opacity 0.375s ease-in;
    will-change: opacity;
    opacity: 1;
  }
  &.has-opacity-image {
    opacity: 1;
    @include min-md {
      opacity: 0;
    }
  }
}

.slider_3-inner {
  margin: auto;
  width: 50%;
  transition: opacity 0.375s ease-out;
  will-change: opacity;
  opacity: 1;
  font-size: large;
  @include min-md {
    transition: opacity 0.375s ease-in;
    width: 100%;
    margin: auto auto auto 2%;
  }
  &.has-opacity-inner {
    opacity: 0.0375;
    @include min-md {
      opacity: 0;
    }
  }
  a {
    transition: color 0.2s ease;
    will-change: color;
    color: $white;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $color_7;
    }
  }
}

.slider_3-percentage {
  height: 2px;
  position: relative;
  width: 90%;
  margin: 2% auto;
  transition: opacity 0.5s linear;
  will-change: opacity;
  opacity: 0;
  background-color: $white;
  overflow: hidden;
  .percentage-change {
    position: absolute;
    height: 2px;
    left: 0;
    background-color: $color_4;
  }
}

.slider_3-button-next {
  position: absolute;
  background: radial-gradient($color_6, $color_7, $color_5);
  outline: none;
  border: none;
  top: 7.5%;
  cursor: pointer;
  padding: clamp(6px, 3%, 10px);
  opacity: 1;
  transition: opacity 0.2s ease;
  will-change: opacity;
  border-radius: 50%;
  &:hover {
    @include min-md {
      opacity: 0.5;
    }
  }
  &.open-left {
    left: 2%;
  }
  &.open-right {
    right: 2%;
  }
}