.slider__1-row {
    overflow: hidden;
}

.slider__1-item {
    position: absolute;
    will-change: transform;
    @include min_lg {
        width: calc((100% + 34px) / 3);
    }
}

.slider__1-item-padding {
    padding: 0 14%;
    @include min_lg {
        padding: 0 34px 0 0;
    }
}

.slider__1-item-body {
    border: 1px solid $color_5;
    background-color: $white;
}

.slider__1-item-body:after {
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 26px;
    background: radial-gradient($color_6, $color_7, $color_5);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__1-item-heading,
.slider__1-item-content {
    transition: opacity 0.25s ease-in-out;
    will-change: opacity;
    opacity: 1;
}

.slider__1-item-has-opacity {
    .slider__1-item-heading,
    .slider__1-item-content {
        opacity: 0.5;
    }
}

.slider__1-img {
    aspect-ratio: 16 / 9.6;
    object-fit: cover;
    object-position: center;
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
}

.slider__1-button {
    top: calc(50% - 52px);
    right: -26px;
    transition: right 0.5s ease-in-out;
    @include min_lg {
        right: -26px;
        will-change: right;
    }
}
