.slider_6-button-group {
    background-color: transparent;
    border: none;
    color: $color_7;
    &:hover,
    &:focus {
        color: $color_4;
    }
    &:disabled {
        color: $color_4;
    }
}

.slider_6-action-container {
    border-top: 2px solid $color_7;
    @include min_md {
        position: relative;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top: 4px solid $color_7;
        border-right: 4px solid $color_7;
        border-bottom: 4px solid $color_7;
        border-left: none;
    }
}

.slider_6-image-container {
    background-color: $color_7;
    img {
        height: 100%;
    }
}

.slider_6-strip {
    position: relative;
    background-color: $color_7;
    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 66%;
        background-color: $color_4;
    }
}

.slider_6-action-aside {
    margin: 0;
    padding: 2.5%;
    color: $white;
    background-color: $color_2;
    opacity: 1;
    @include min_sm {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @include min_md {
        flex-direction: column;
        position: absolute;
        align-items: unset;
        border-radius: 5px;
        top: 2.5%;
        right: 2.5%;
        bottom: 2.5%;
        left: 27.5%;
        opacity: 0;
        &::before {
            position: absolute;
            content: "";
            top: 7.5%;
            right: 1%;
            bottom: 50%;
            width: 2px;
            background-color: $white;
        }
        &::after {
            position: absolute;
            content: "";
            top: 60%;
            right: 1%;
            bottom: 7.5%;
            width: 2px;
            background-color: $white;
        }
    }
    h3 svg {
        font-size: 12px;
        vertical-align: top;
        margin-left: 12px;
        vertical-align: middle;
        @include min_md {
            font-size: 17px;
        }
    }
    p {
        color: $white;
        border-bottom: 1px solid $white;
        padding-bottom: 1%;
        @include min_sm {
            width: 67.5%;
        }
        @include min_md {
            width: 100%;
            max-width: 350px;
        }
    }
}

@keyframes slidein {
    from {
        opacity: 0;
        top: 2.5%;
        right: 2.5%;
        bottom: 2.5%;
        left: 27.5%;
    }
    to {
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 30%;
        opacity: 1;
    }
}

@keyframes slideout {
    from {
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 30%;
        opacity: 1;
    }
    to {
        opacity: 0;
        top: 2.5%;
        right: 2.5%;
        bottom: 2.5%;
        left: 27.5%;
    }
}

@include min_md {
    .has-animation {
        animation: slidein 1s;
        animation-fill-mode: forwards;
    }
    .has-animation-out {
        animation: slideout 1s;
    }
}
