.slider_2-container {
    overflow: hidden;
    will-change: max-height;
}

.slider_2-padding {
    padding-bottom: 200px;
    @include min_lg {
        margin: 0 25px;
    }
    @include min_xl {
        margin: 0 50px;
    }
}

.slider_2-item {
    overflow: hidden;
}

.slider_2-date-line {
    &:after {
        content: " ";
        position: absolute;
        width: 1px;
        right: calc(50% - 1px);
        top: 0;
        bottom: 0;
        background-color: $color_7;
        z-index: 1;
        @include min_lg {
            bottom: -200px;
        }
    }
    &.slider_2-date-line-lg {
        &:after {
            @include min_lg {
                top: 55px;
            }
        }
    }
    .slider_2-date {
        z-index: 2;
        background: $white;
        &:before {
            content: " ";
            position: absolute;
            width: 9px;
            height: 9px;
            background: $color_7;
            border-radius: 50%;
            right: calc(50% - 5px);
            bottom: -5px;
            @include min_lg {
                width: 13px;
                height: 13px;
                right: calc(50% - 7px);
                bottom: -7px;
            }
        }
        .slider_2-date-text {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: $color_7;
            color: $white;
        }
    }
}

.slider_2-heading {
    text-transform: uppercase;
    transform: rotate(-3deg);
    font-size: larger;
    font-weight: bold;
    font-style: oblique;
    @include min_lg {
        transform: rotate(-3deg) translateY(-13px) translatex(-25px);
    }
    @include min_xl {
        transform: rotate(-3deg) translateY(-13px) translatex(-50px);
    }
    .text-content {
        border-radius: 25px;
    }
}

.slider_2-button-container {
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background: $white;
    &:before {
        content: " ";
        position: absolute;
        width: 1px;
        right: calc(50% - 1px);
        top: 0;
        bottom: 44px;
        background-color: $color_7;
    }
}

.color-1 {
    color: $color_1;
}

.color-2 {
    color: $color_2;
}

.color-3 {
    color: $color_3;
}

.color-4 {
    color: $color_4;
}
