.slider_8-navigation {
    background-color: $white;
    @include min_sm {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 55px;
        transition: height 0.4s;
    }
    .navbar-collapse {
        background-color: inherit;
        transition: max-height 0.4s;
        will-change: max-height;
        overflow: hidden;
        max-height: 0;
        @include min_sm {
            max-height: initial;
        }
    }
    &.navigation-other {
        @include min_sm {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
        }
    }
    &.navigation-fixed {
        @include min_sm {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 999;
            height: 65px;
        }
    }
    a.active {
        color: $color_5;
        text-decoration: none;
        transition: opacity 0.2s;
        opacity: 1;
        &:hover {
            opacity: 0.5;
        }
    }
    button.navbar-toggler {
        outline: none;
        border: none;
        box-shadow: none;
        background-color: initial;
    }
}

.slider_8-navbar-toggler {
    &.has-collapsed {
        .slider_8-bar1,
        .slider_8-bar3 {
            transform: none;
        }
        .slider_8-bar2 {
            opacity: 1;
        }
    }
    .slider_8-bar1,
    .slider_8-bar2,
    .slider_8-bar3 {
        width: 24px;
        height: 3px;
        background-color: $color_1;
        margin: 4px 0;
        transition: 0.4s;
        border-radius: 1.5px;
    }
    .slider_8-bar1 {
        transform: translate(0, 7px) rotate(-45deg);
    }
    .slider_8-bar2 {
        opacity: 0;
    }
    .slider_8-bar3 {
        transform: translate(0, -7px) rotate(45deg);
    }
}
