.slider_7-overlay-body {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	overflow: auto;
	transform: translateX(100%);
	will-change: transform;
	> * {
		will-change: opacity;
		transition: opacity 0.5s cubic-bezier(0, 0.25, 0.5, 0.5);
		opacity: 0;
	}
	&.overlay-fixed {
		transform: translateX(0);
		> * {
			opacity: 1;
		}
		~ .slider_7-overlay-backdrop {
			transform: translateX(0);
		}
	}
}


.slider_7-overlay-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: transparentize($color_2, 0.95);
	transition: background-color 0.5s cubic-bezier(0.66, 0.01, 0.27, 0.84);;
	z-index: 998;
	transform: translateX(100%);
	&.overlay-transition {
		transform: translateX(0);
		background-color: transparentize($color_2, 0.75);
	}
}

.slider_7-overlay-body {
	background-color: $color_1;
	img {
		height: calc(100% - 84px);
		padding-top: 84px;
	}
}

.overflow-hidden {
	overflow: hidden;
}


.slider_7-container {
	background-color: $color_1;
	.thumbnail-image {
		width: 100%;
		height: 100%;
		@include min_md {
			object-fit: cover;
			max-width: 465px;
			position: absolute;
		}
	}
	.thumbnail-title {
		top: 0;
		left: 0;
		background-color: $white;
	}
}