.slider_nav-navigation {
    background-color: $white;
    will-change: top, max-height;
    z-index: 999;
    right: 0;
    left: 0;
    overflow: hidden;
    max-height: 74px;
    transition: max-height 0.75s;
    @include min_sm {
        max-height: 57px;
    }
    .navbar-collapse {
        background-color: inherit;
    }
    a.active {
        color: $color_5;
        text-decoration: none;
        transition: opacity 0.2s;
        opacity: 1;
        &:hover {
            opacity: 0.5;
        }
    }
    button.navbar-toggler {
        outline: none;
        border: none;
        box-shadow: none;
        background-color: initial;
    }
}

.slider_nav-navbar-toggler {
    &.has-collapsed {
        .slider_nav-bar1,
        .slider_nav-bar3 {
            transform: none;
        }
        .slider_nav-bar2 {
            opacity: 1;
        }
    }
    .slider_nav-bar1,
    .slider_nav-bar2,
    .slider_nav-bar3 {
        width: 24px;
        height: 3px;
        background-color: $color_1;
        margin: 4px 0;
        transition: 0.4s;
        border-radius: 1.5px;
    }
    .slider_nav-bar1 {
        transform: translate(0, 7px) rotate(-45deg);
    }
    .slider_nav-bar2 {
        opacity: 0;
    }
    .slider_nav-bar3 {
        transform: translate(0, -7px) rotate(45deg);
    }
}

header {
    position: relative;
    z-index: 1000;
    background-color: $white;
}
