.slider_8-item {
    margin-bottom: 140px;
    img {
        width: 100%;
    }
}

.has-move {
    position: relative;
    bottom: -88px;
    transition: bottom 1s;
    will-change:  bottom;
    &.has-bottom {
        bottom: 0;
    }
}
